.mainSpace {
  height: 350px;
}

.fullBoard {
  margin-top: 25px;
  margin-bottom: 25px;
  width: 320px;
  height: 320px;
  .row {
    display: flex;
    .square {
      width: 40px;
      height: 40px;
      font-weight: bold;
      font-size: 1.5em;
    }
  }
}

.window {
  position: fixed;
  top: 70px;
  width: 40%;
  height: 150px;
  text-align: center;
  padding: 30px;
  left: 0%;
  right: 0%;
  .allChoices {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    .halfChoices {
      display: flex;
      flex-direction: column;
    }
  }
}

.toolbar {
  display: flex;
  justify-content: space-evenly;
  margin: 30px auto;
}

.historyWrapper {
  position: relative;
  height: 150px;
  width: 260px;
  text-align: center;
  overflow: hidden;
  .historyHeader {
    p {
      display: inline-block;
      width: 120px;
    }
  }
  .historyBodyWrapper {
    position: absolute;
    height: 100%;
    width: 100%;
  }
  .historyBody {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: scroll;
    scrollbar-width: none; /* Firefox */
    // -ms-overflow-style: none; /* IE 10+ */ /* non-standard prop */
    &::-webkit-scrollbar {
      width: 0px;
      background: transparent; /* Chrome/Safari/Webkit */
    }
    .historyElement {
      p {
        display: inline-block;
        width: 120px;
      }
    }
  }
  .fadeTop {
    z-index: 1;
    top: 0;
    position: absolute;
    width: 100%;
    height: 20px;
  }
  .fadeBottom {
    z-index: 1;
    bottom: 20px;
    position: absolute;
    width: 100%;
    height: 20px;
  }
}
