* {
  margin: 0;
}

header {
  font-size: 1.5em;
  padding: 18px;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-around;
}

.hdLink {
  padding: 0 8vw;
}

.hdLeftBox, .hdRightBox {
  width: 15vw;
}

.iconButton {
  cursor: pointer;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  border-radius: 50%;
  transition: opacity 300ms;
  svg {
    width: 20px;
    display: block;
    margin: 0 auto;
  }
}

a {
  text-decoration: none;
}

.center {
  margin: 0 auto;
}
